services:
  api:
    build: .
    container_name: todo_api
    ports:
      - "8000:8000"
    volumes:
      # Mount the local directory to the container to persist the SQLite DB
      # Only mapping the DB file ensures we don't overwrite code changes in the container
      - ./app_todo.db:/app/app_todo.db
    environment:
      - DATABASE_URL=sqlite+aiosqlite:///./app_todo.db
    restart: unless-stopped